* {
    /* prefixs for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
}
/* Styling the scrollbar */
::-webkit-scrollbar {
      width: 8px;
}
::-webkit-scrollbar-thumb {
      background-color: #34b1f2; 
}
::-webkit-scrollbar-corner {
      background-color: #222;
}
body {
    margin: 0;
    display: flex;
}
/* Location List */
.locations {
    background-color: #222;
    color: #fff;
    margin: 0;
    display: inline-block;
    width: 285px;
    min-width: 280px;
    padding: 10px;
    height: 100vh;
    vertical-align: top;
    overflow: scroll;
    transition: 0.3s;
}
.collapse {
    margin-left: -285px !important;
}
.filter {
    display: flex;
}
.locations h1 {
    text-align: center;
    cursor: context-menu;
    color: #34b1f2;
}
#location-name {
    font-size: 14px;
    height: 28px;
    padding-left: 10px;
    border: none;
    width: 100%;
}
#filter {
    height: 28px;
    padding: 0px 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #34b1f2;
    cursor: pointer;
    box-shadow: 5px 4px 14px rgba(0,0,0,0.5);
    transition: 0.3s;
}
#filter:hover {
    background-color: #1973a2;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
.location-list {
    margin-top: 2em;
}
.location-list p {
    font-size: 14px;
    cursor: context-menu;
    padding: 0.5em 1em 1em;
    border-bottom: 1px solid #333;
}
.location-list p:nth-last-child(1) {
    border: none;
}
/* Map */
.map {
    display: inline-block;
    width: 100vw;
    vertical-align: top;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.problem {
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 1;
    width: 100vw;
    color: #fff;
    text-align: center;
    display: none;
}
.problem h4 {
    margin-top: 45vh;
    font-size: 20px;
}
.problem p {
    border-top: 1px solid #fff;
    display: block;
    margin: 0 auto;
    width: 20em;
    padding-top: 5px;
}
.options-bar {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #333;
}
#menu-icon {
    height: 100%;
    padding: 1.15em;
    cursor: pointer;
}
#menu-icon:hover {
    background-color: #393939;
}
#map {
    display: inline-block;
    height: calc(100vh - 50px);
    width: 100%;
}
.infowindow {
    width: 240px;
}
.infowindow h3 {
    color: #444;
}
.infowindow img {
    max-height: 50px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    max-width: 80px;
}
.infowindow p {
    color: #555;
}
.infowindow a {
    color: #333;
    font-weight: 100;
    background-color: lightblue;
    padding: 0px 10px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.infowindow a span {
    font-weight: bold;
    font-size: 14px;
}
.display-block {
    display: block !important;
}